body { 
    background: #161616;
    color: #bdbdbd;
    font-family: monospace;
}

img {
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: -1;
}
button {
  display: block
  font-family: monospace;
  width:130px; 
}
